<nav class="hero__navigation">
    <NavLink href="/cat/dotnet" class="hero__navigation-link" Match="NavLinkMatch.All">.NET / C#</NavLink>
    <NavLink href="/cat/rpi" class="hero__navigation-link" Match="NavLinkMatch.All">Raspberry Pi</NavLink>
</nav>

@code {
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

}
