@page "/cat/{tag}"

<section class="blog-list spacer">
    <div class="container">
        <div class="h1">
            <div class="h1__title">
                <h1>@CategoryName</h1>
            </div>
        </div>
        <div class="blog-list__list">
            <div class="blog-list__list-item">

                <a href="#!" class="blog-list__list-image">
                    <img src="https://images.unsplash.com/photo-1612832020988-e55e474cfa21?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                        alt="pic">
                </a>
                <a href="#!" class="blog-list__list-title">
                    Odio ipsum at rhoncus, in enim eu leo lacus nam
                </a>
                <p>1 hour ago</p>
            </div>
            <div class="blog-list__list-item">

                <a href="#!" class="blog-list__list-image">
                    <img src="https://images.unsplash.com/photo-1612832020988-e55e474cfa21?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                        alt="pic">
                </a>
                <a href="#!" class="blog-list__list-title">
                    Odio ipsum at rhoncus, in enim eu leo lacus nam
                </a>
                <p>1 hour ago</p>
            </div>
            <div class="blog-list__list-item blog-list__list-item--long">

                <a href="#!" class="blog-list__list-image">
                    <img src="https://images.unsplash.com/photo-1612832020988-e55e474cfa21?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                        alt="pic">
                </a>
                <a href="#!" class="blog-list__list-title">
                    Odio ipsum at rhoncus, in enim eu leo lacus nam
                </a>
                <p>1 hour ago</p>
            </div>
            <div class="blog-list__list-item blog-list__list-item--long">

                <a href="#!" class="blog-list__list-image">
                    <img src="https://images.unsplash.com/photo-1612832020988-e55e474cfa21?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                        alt="pic">
                </a>
                <a href="#!" class="blog-list__list-title">
                    Odio ipsum at rhoncus, in enim eu leo lacus nam
                </a>
                <p>1 hour ago</p>
            </div>
            <div class="blog-list__list-item">

                <a href="#!" class="blog-list__list-image">
                    <img src="https://images.unsplash.com/photo-1612832020988-e55e474cfa21?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                        alt="pic">
                </a>
                <a href="#!" class="blog-list__list-title">
                    Odio ipsum at rhoncus, in enim eu leo lacus nam
                </a>
                <p>1 hour ago</p>
            </div>
            <div class="blog-list__list-item">

                <a href="#!" class="blog-list__list-image">
                    <img src="https://images.unsplash.com/photo-1612832020988-e55e474cfa21?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                        alt="pic">
                </a>
                <a href="#!" class="blog-list__list-title">
                    Odio ipsum at rhoncus, in enim eu leo lacus nam
                </a>
                <p>1 hour ago</p>
            </div>
            <div class="blog-list__list-item">

                <a href="#!" class="blog-list__list-image">
                    <img src="https://images.unsplash.com/photo-1612832020988-e55e474cfa21?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                        alt="pic">
                </a>
                <a href="#!" class="blog-list__list-title">
                    Odio ipsum at rhoncus, in enim eu leo lacus nam
                </a>
                <p>1 hour ago</p>
            </div>
            <div class="blog-list__list-item">

                <a href="#!" class="blog-list__list-image">
                    <img src="https://images.unsplash.com/photo-1612832020988-e55e474cfa21?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                        alt="pic">
                </a>
                <a href="#!" class="blog-list__list-title">
                    Odio ipsum at rhoncus, in enim eu leo lacus nam
                </a>
                <p>1 hour ago</p>
            </div>
            <div class="blog-list__list-item blog-list__list-item--long">

                <a href="#!" class="blog-list__list-image">
                    <img src="https://images.unsplash.com/photo-1612832020988-e55e474cfa21?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                        alt="pic">
                </a>
                <a href="#!" class="blog-list__list-title">
                    Odio ipsum at rhoncus, in enim eu leo lacus nam
                </a>
                <p>1 hour ago</p>
            </div>
            <div class="blog-list__list-item blog-list__list-item--long">

                <a href="#!" class="blog-list__list-image">
                    <img src="https://images.unsplash.com/photo-1612832020988-e55e474cfa21?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                        alt="pic">
                </a>
                <a href="#!" class="blog-list__list-title">
                    Odio ipsum at rhoncus, in enim eu leo lacus nam
                </a>
                <p>1 hour ago</p>
            </div>
            <div class="blog-list__list-item">

                <a href="#!" class="blog-list__list-image">
                    <img src="https://images.unsplash.com/photo-1612832020988-e55e474cfa21?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                        alt="pic">
                </a>
                <a href="#!" class="blog-list__list-title">
                    Odio ipsum at rhoncus, in enim eu leo lacus nam
                </a>
                <p>1 hour ago</p>
            </div>
            <div class="blog-list__list-item">

                <a href="#!" class="blog-list__list-image">
                    <img src="https://images.unsplash.com/photo-1612832020988-e55e474cfa21?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                        alt="pic">
                </a>
                <a href="#!" class="blog-list__list-title">
                    Odio ipsum at rhoncus, in enim eu leo lacus nam
                </a>
                <p>1 hour ago</p>
            </div>
            <div class="blog-list__list-item">

                <a href="#!" class="blog-list__list-image">
                    <img src="https://images.unsplash.com/photo-1612832020988-e55e474cfa21?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                        alt="pic">
                </a>
                <a href="#!" class="blog-list__list-title">
                    Odio ipsum at rhoncus, in enim eu leo lacus nam
                </a>
                <p>1 hour ago</p>
            </div>
            <div class="blog-list__list-item">

                <a href="#!" class="blog-list__list-image">
                    <img src="https://images.unsplash.com/photo-1612832020988-e55e474cfa21?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                        alt="pic">
                </a>
                <a href="#!" class="blog-list__list-title">
                    Odio ipsum at rhoncus, in enim eu leo lacus nam
                </a>
                <p>1 hour ago</p>
            </div>
            <div class="blog-list__list-item blog-list__list-item--long">

                <a href="#!" class="blog-list__list-image">
                    <img src="https://images.unsplash.com/photo-1612832020988-e55e474cfa21?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                        alt="pic">
                </a>
                <a href="#!" class="blog-list__list-title">
                    Odio ipsum at rhoncus, in enim eu leo lacus nam
                </a>
                <p>1 hour ago</p>
            </div>
            <div class="blog-list__list-item blog-list__list-item--long">

                <a href="#!" class="blog-list__list-image">
                    <img src="https://images.unsplash.com/photo-1612832020988-e55e474cfa21?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                        alt="pic">
                </a>
                <a href="#!" class="blog-list__list-title">
                    Odio ipsum at rhoncus, in enim eu leo lacus nam
                </a>
                <p>1 hour ago</p>
            </div>
            <div class="blog-list__list-item">

                <a href="#!" class="blog-list__list-image">
                    <img src="https://images.unsplash.com/photo-1612832020988-e55e474cfa21?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                        alt="pic">
                </a>
                <a href="#!" class="blog-list__list-title">
                    Odio ipsum at rhoncus, in enim eu leo lacus nam
                </a>
                <p>1 hour ago</p>
            </div>
            <div class="blog-list__list-item">

                <a href="#!" class="blog-list__list-image">
                    <img src="https://images.unsplash.com/photo-1612832020988-e55e474cfa21?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                        alt="pic">
                </a>
                <a href="#!" class="blog-list__list-title">
                    Odio ipsum at rhoncus, in enim eu leo lacus nam
                </a>
                <p>1 hour ago</p>
            </div>
</div>
</div>
</section>

<div class="spacer"></div>

@code {
    
    [Parameter]
    public string Tag { get; set; }
    
    private string CategoryName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CategoryName = Tag;
        await base.OnInitializedAsync();
    }

}