@page "/post/{id}"

<section class="blog spacer">
    <div class="container">
        <div class="blog__title">
            <h1>Aliquam eu quis nisl porttitor consequat, pellentesque ullamcorper interdum neque tellus, diam nibh
                ut fermentum, quisque</h1>
        </div>
        <div class="blog__image">
            <img src="images/blog-image.png" alt="blog-image">
        </div>
        <div class="blog__inf">
            <div class="blog__inf-date">
                5 hours ago
            </div>
            <div class="blog__inf-socials">
                <a href="https://twitter.com/intent/tweet?text=Hello%20world" target="_blank" class="blog__inf-social">
                    <img src="images/svg/twitter.svg" alt="twitter-share">
                </a>
                <a href="https://t.me/share/url?url=mysite.com&text=Супер пост!" target="" class="blog__inf-social">
                    <img src="images/svg/telegram.svg" alt="telegram-share">
                </a>
            </div>
        </div>
        <div class="blog__tags">
            <a href="#" class="blog__tag">
                .NET / C#
            </a>
            <a href="#" class="blog__tag">
                Raspberry Pi
            </a>
        </div>
        <div class="blog__content">
            <p>С другой стороны, укрепление и развитие внутренней структуры выявляет срочную потребность
                распределения внутренних резервов и ресурсов.</p>
            <p>Таким образом, постоянный количественный рост и сфера нашей активности позволяет оценить значение
                глубокомысленных рассуждений. Но выбранный нами инновационный путь однозначно фиксирует
                необходимость системы обучения кадров, соответствующей насущным потребностям.</p>
            <p>В целом, конечно, курс на социально-ориентированный национальный проект, в своём классическом
                представлении, допускает внедрение анализа существующих паттернов поведения.</p>
            <p>Задача организации, в особенности же начало повседневной работы по формированию позиции играет
                определяющее значение для соответствующих условий активизации.</p>
            <hr>
            <img src="images/img-1.png" alt="img">
            <hr>
            <p>Не следует, однако, забывать, что реализация намеченных плановых заданий предоставляет широкие
                возможности для глубокомысленных рассуждений.</p>
            <p>Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого
                факта: высокотехнологичная концепция общественного уклада однозначно фиксирует необходимость
                поэтапного и последовательного развития общества.</p>
            <p>Также как повышение уровня гражданского сознания обеспечивает актуальность анализа существующих
                паттернов поведения.</p>
            <p>Мы вынуждены отталкиваться от того, что современная методология разработки требует от нас анализа
                соответствующих условий активизации.</p>
            <p>В своём стремлении улучшить пользовательский опыт мы упускаем, что предприниматели в сети интернет
                освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется,
                указаны как претенденты на роль ключевых факторов.</p>
            <hr>
            <img src="images/img-2.png" alt="img">
        </div>
        <div class="blog__author">
            <div class="blog__author-title">
                Автор блога и публикации
            </div>
            <a href="https://t.me/vova_lantsov" target="_blank" class="blog__author-name">
                Вова Ланцов
            </a>
        </div>
    </div>
</section>
<section class="read-more spacer">
    <div class="container">
        <div class="h1">
            <div class="h1__title">
                <h1>Read more</h1>
            </div>
        </div>
        <div class="read-more__items">
            <div class="read-more__item">
                <a href="#!" class="read-more__item-image">
                    <img src="https://images.unsplash.com/photo-1612832020988-e55e474cfa21?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                        alt="pic">
                </a>
                <a href="#!" class="read-more__item-title">
                    Odio ipsum at rhoncus, in enim eu leo lacus nam
                </a>
                <p>1 hour ago</p>
            </div>
            <div class="read-more__item">
                <a href="#!" class="read-more__item-image">
                    <img src="https://images.unsplash.com/photo-1612832020988-e55e474cfa21?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                        alt="pic">
                </a>
                <a href="#!" class="read-more__item-title">
                    Odio ipsum at rhoncus, in enim eu leo lacus nam
                </a>
                <p>1 hour ago</p>
            </div>
            <div class="read-more__item">
                <a href="#!" class="read-more__item-image">
                    <img src="https://images.unsplash.com/photo-1612832020988-e55e474cfa21?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                        alt="pic">
                </a>
                <a href="#!" class="read-more__item-title">
                    Odio ipsum at rhoncus, in enim eu leo lacus nam
                </a>
                <p>1 hour ago</p>
            </div>
            <div class="read-more__item">
                <a href="#!" class="read-more__item-image">
                    <img src="https://images.unsplash.com/photo-1612832020988-e55e474cfa21?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                        alt="pic">
                </a>
                <a href="#!" class="read-more__item-title">
                    Odio ipsum at rhoncus, in enim eu leo lacus nam
                </a>
                <p>1 hour ago</p>
            </div>
            <div class="read-more__item">
                <a href="#!" class="read-more__item-image">
                    <img src="https://images.unsplash.com/photo-1612832020988-e55e474cfa21?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                        alt="pic">
                </a>
                <a href="#!" class="read-more__item-title">
                    Odio ipsum at rhoncus, in enim eu leo lacus nam
                </a>
                <p>1 hour ago</p>
            </div>
            <div class="read-more__item">
                <a href="#!" class="read-more__item-image">
                    <img src="https://images.unsplash.com/photo-1612832020988-e55e474cfa21?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                        alt="pic">
                </a>
                <a href="#!" class="read-more__item-title">
                    Odio ipsum at rhoncus, in enim eu leo lacus nam
                </a>
                <p>1 hour ago</p>
            </div>
        </div>
    </div>
</section>

@code {
    
    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

}